{% extends 'app/elements/admin.html' %}
{% load static %}
{% load blog_tags %}
{% load i18n %}


{% block content %}

  <main class="container my-5">
    <h2 class="fw-bold fs-1">{{posts.title}} details</h2>
    <div class="container d-flex">
      <section class="py-4 my-4">
        <div class="card__">
            <div class="row pt-2"  id="card__">
                <div class="shadow-md">
                    <div class="card shadow-md">
                      <img src="{% static 'elements/images/pos-machine-right.png' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title fs-3 fw-bold">{{ posts.title|slice:":24"|safe }}</h5>
                        <p class="card-text">{{ posts.body|safe }}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

    </div>
  </main>

{% endblock content %}
