{% extends 'app/elements/admin.html' %}
{% load static %}
{% load blog_tags %}
{% load i18n %}


{% block content %}
<main>

    <section class="banner mb-3">
        <div class="text-center">{% include "app/elements/messages.html" %}</div>
        <div class="image__section">
            <div class="image__">
            </div>
            <div class="text__section">
                <h1 class="pt-3">{% trans "Your online Grocery Store!" %}</h1>
                <p>{% trans "where we manage your inventory for you..." %}</p>
                <div class="text__section_link">
                <a href="{% url 'app:view_all_posts' %}" class="btn text-light shadow-lg">{% trans "Explore Blog" %}</a>
                </div>

            </div>
        </div>
    </section>

    <section class="search container my-4">
        <form class="d-flex" role="search" method="post" action="{% url 'app:search' %}">
            {% csrf_token %}
            <input class="form-control me-2 py-2 px-3" type="search" name="search_term" placeholder="search here..." aria-label="Search">
            <button class="btn btn-outline-success px-3" type="submit">Search</button>
        </form>
    </section>

    {% if request.user.is_authenticated %}
    <section class="container add-post">
        <a href="{% url 'app:add_post' %}" class="btn">Add post</a>
    </section>
    {% else %}
    {% endif %}

    <section class="py-4">
        <div class="container card__">
            <div class="row">
              {% for post in posts %}
                <div class="col-xl-4 col-md-12 col-sm-12 mb-4">
                    <div class="card shadow-md">
                      <img src="{{post.cover_photo.url}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title fs-3 fw-bold">{{ post.title|slice:":24"|safe }}</h5>
                        <p class="card-text">{{ post.body|slice:":70"|safe }}...</p>
                        <a href="{{ post.get_absolute_url }}" class="btn blog__button">Read more...</a>
                      </div>
                    </div>
                </div>

                {% endfor %}
            </div>


        </div>
    </section>



    <div class="paginator">
        {% include "app/paginator.html" with page=posts %}
    </div>

    <section class="scroll__to__top shadow-lg" id="scrollToTop">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
        </div>
    </section>

</main>
{% endblock %}