{% load static %}


{% comment %} <div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div> {% endcomment %}

<!--<div class="pagination">-->
<!--    {% if page.has_previous %}-->
<!--    <button >-->
<!--        <a href="?page={{ page.previous_page_number }}" style="display:flex; align-items:center;">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">-->
<!--            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>-->
<!--        </svg>-->
<!--        </a>-->
<!--    </button>-->
<!--    {% endif %}-->
<!--    <button class="active">{{ page.number }}</button>-->
<!--    <button>of</button>-->
<!--    <button>{{ page.paginator.num_pages }}</button>-->
<!--    {% if page.has_next %}-->
<!--    <button>-->
<!--        <a href="?page={{ page.next_page_number }}" style="display:flex; align-items:center;">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">-->
<!--            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>-->
<!--        </svg>  -->
<!--        </a>-->
<!--    </button>-->
<!--    {% endif %}-->
<!--</div>-->

<section class="pagination__ container d-flex">
        <div class=" my-5">
            {% if page.has_previous %}
            <button >
                <a href="?page={{ page.previous_page_number }}" style="display:flex; align-items:center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                </a>
            </button>
            {% endif %}
            <button class="active">{{ page.number }}</button>
            <button>of</button>
            <button>{{ page.paginator.num_pages }}</button>
            {% if page.has_next %}
            <button>
                <a href="?page={{ page.next_page_number }}" style="display:flex; align-items:center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
                </a>
            </button>
            {% endif %}
        </div>
        <div>
            <a href="{% url 'app:view_all_posts' %}" class="view__all__post btn">View all posts</a>
        </div>
</section>