{% extends "app/base.html" %}

{% block content %}



<main class="container">
    

    <section class="main-text">
               
        <div class="logo">
        <h3 style="font-size:1.5rem;">Search Result for <span>{{search_term|upper}}</span></h3>
        </div>

      <p></p>
      <!-- First column -->
      <div class="posts" style="display:grid; grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); ">
        {% for post in posts %}
        <div class="first-post">
          <div class="first-post-image"
          style="background-image:url('{{post.cover_photo.url}}')"
          ></div>
          <div class="badge">
            <button>{{post.slug}}</button>
          </div>
          <div class="first-post-title">
            <a href="{{ post.get_absolute_url }}">
              <h2>{{ post.title|truncatewords:3  }}</h2>
            </a>
          </div>
          <div class="first-post-author">
            <div class="first-post-author-image"
            style="background-image:url('{{post.authors_photo.url}}')"
            ></div>
            <div class="first-post-authors-name">
              <span> {{ post.publish }}</span> |
              <span> {{ post.author }}</span>
            </div>
            <div class="first-post-date-published">
            </div>
          </div>

          {% comment %} <small>Tags: {{ post.tags.all|join:", " }}</small> {% endcomment %}
          <div class="tags">
            <small>Tags:
              {% for tag in post.tags.all %}
              <a href="{% url "app:post_list_by_tag" tag.slug %}">
                {{tag.name}}
              </a>
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </small>
          </div>

        </div>
        {% endfor %}
         
      </div>

      {% comment %} <div class="paginator">
        {% include "app/paginator.html" with page=posts %}
      </div> {% endcomment %}
     
      <div class="view-all-post-button">
       

        {% if user.is_authenticated %}
        <form action="{% url 'app:view_all_posts' %}">
          <button>View All Post</button>
        </form>
        {% else %}
        
        {% endif %}
      </div>


    </section>
  </main>






{% endblock content %}