{% extends 'app/elements/admin.html' %}
{% load static %}
{% load blog_tags %}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


{% block content %}
<main>


    <section class="py-4 my-4">
        <div class="container card__">
          <div class="logo my-2">
            <h3 class="fw-bold fs-2 ">Search Result for <span style="color:#8fa312">{{search_term|upper}}</span></h3>
          </div>
            <div class="row pt-2">
              {% for post in posts %}
                <div class="col-xl-4 col-md-12 col-sm-12 mb-4">
                    <div class="card shadow-md">
                      <img src="{{post.cover_photo.url}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title fs-3 fw-bold">{{ post.title|slice:":24"|safe }}</h5>
                        <p class="card-text">{{ post.body|slice:":70"|safe }}...</p>
                        <a href="{{ post.get_absolute_url }}" class="btn blog__button">Read more...</a>
                      </div>
                    </div>
                </div>

                {% endfor %}
            </div>


        </div>
    </section>



    <section class="scroll__to__top shadow-lg" id="scrollToTop">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
        </div>
    </section>

</main>
{% endblock %}


