{% load static %}
{% load i18n %}

{% if messages %}
    <div class="container custom_container">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert" style="border-radius:13px;">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="border-radius:30%;"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<!--# django-admin compilemessages -l ar-->